<div id="<%= dom_id employee %>">
  <p>
    <strong>Full name:</strong>
    <%= employee.full_name %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <%= employee.contact_info %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employee.department %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= employee.status %>
  </p>

</div>
